.chart-wrapper {
  margin: 2rem 0;
  width: 100%;
  max-width: 50rem;
}

.block.charts-giving-vs-actual {
  container-type: inline-size;

  @container (min-width: 600px) {
    .chart-wrapper {
      width: calc(50% - 2rem);
      float: left;

      &:last-child {
        float: right;
      }
    }
  }
}
